.page {
    max-width: 1280px;
    width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}
@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}