.footer__links {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}

@media screen and (max-width: 690px) {
  .footer__links {
      flex-direction: column;
      align-items: flex-start;
      margin: 40px 118px 24px 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
      flex-direction: column;
      align-items: flex-start;
      margin: 64px 118px 24px 16px;
  }
}