.footer__copyright {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 690px) {
    .footer__copyright {
        line-height: 14px;
        margin-left: 12px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-left: 16px;
    }
}
